.samples-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.sample-card{
    margin: 4px;
    width: 20%;
    justify-items: auto;
   align-items: flex-end;
   
}

.add-button.btn.btn-secondary{
    background-color: #F9C22E
}



.card-edit, .card-delete, .detail-button{
    justify-content: center;
    color: whitesmoke
}

.card-body{
    background-color: #005377
}
.detail-card{
    color: #ECA400;
    font-family: 'Raleway', sans-serif;
}




.song{
    color: rgb(86, 208, 94);
    font-family: 'Give You Glory', cursive
}
.artist{
    color:#F9C22E;
    font-family: 'Calligraffitti', cursive;
}
.SampleForm{
    color: whitesmoke
}




