.card-title{
    color: #8BB174;
    font-family: 'Raleway', sans-serif;
}

.add.btn-btn-success{
    background-color: #F9C22E
} 

.detail-link{
    color: #FF7700
}

.project-edit{
    color: #009ecd
}

.project-delete{
    color: red
}

.project-name{
    color: #F9C22E
}

.project-detail{
    color: #F9C22E
}