.nav-bar {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: rgb(6, 167, 124);
}



.login-link,.samples-link,.projects-link,.logout-link{
    color: aliceblue;
    justify-content: center;
    padding: 4px;
    font-size: 17px;
    
}